@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html{
    width:100%;
}
body{
    width:100%;
}
main{
    margin: 10px auto;
    width: 90%;
    height:95%;
    background-color: lightseagreen/*bisque;*/
}
div{
    width:100%;
}
h1, h4, p{
    width: 75%;
}
h1, h4, p, div{
    margin: 10px auto;/*中央寄せ*/
}
h1, h4 {
    text-align: center;
}
table{
    background-color: white;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse; /* 二重線を一本化 */
}
td > input {
    border: none;
    outline: none;
}
.flexbox{
    display:flex;
    justify-content: center;
}
.flexbox-iphone{
    display: flex;
    justify-content: center;
    width:90%;

}
.flexCenter{
    align-items:center;
}
.flexTop{
    align-items:flex-start;
};
.styled-button {
    background-color: #4CAF50; /* ボタンの背景色 */
    color: white; /* テキストの色 */
    padding: 10px 20px; /* 内側の余白 */
    border: none; /* ボーダーをなくす */
    border-radius: 5px; /* 角を丸める */
    cursor: pointer; /* マウスカーソルをポインターに変更 */
}
.styled-button:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}
@media screen and (max-width:640px){
    .flexTop{
        display: block;
    }
    .flexbox-iphone{
        display: flex;
    }
    .tableBox{
        width:90%;
    }

    #result{
        margin: 10px auto;/*中央寄せ*/
        width: 100%;
    }
    h1, h4, p{
    width: 80%;
}
}